.finance-item.mdl-cell.mdl-cell--12-col
  span.name
    a(href=url,target="_blank",rel="noopener noreferrer")= name
  span.value(class=change)= value
  span.dayChange(class=change)= '(' + (updatedToday==="1" ? '' : 'not updated - yesterday: ' ) + dayChange + '%)'
